<section id="contactForm">
  <article>
    <h1>{{title}}</h1>
    <form action="/contact" method="post">
      <div>
        <label for="firstname">Firstname</label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          placeholder="Enter a name"
        />
      </div>

      <div>
        <label for="lastname">Lastname</label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          placeholder="Enter a last name"
        />
      </div>

      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter a email id"
        />
      </div>

      <div>
        <label for="phone">Phone</label>
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="Enter a phone"
        />
      </div>

      <div>
        <button>
          Submit
        </button>
      </div>

    </form>
  </article>
</section>